@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/src/assets/Ubuntu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #0c0c0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#current-playlist-container {
  display: grid;
  /* god I hate you CSS. */
  grid-template-columns: repeat(3, 32.65%);
  width: 100%;
  grid-gap: 10px;
}



#playlist-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}

.back-button {
  max-width: 35px;
  max-height: 35px;
}

.back-button > img, .epg-button > img {
  transition: 250ms ease-in-out;
  border-radius: 25%;
}

.header {
  margin-top: 20px;
}

#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 250ms ease-in-out;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settings-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 90%;
  margin: 0 auto;
  grid-gap: 15px;
}

.settings-bottom-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.settings-button {
  width: 100%;
  padding: 0.5rem;
}

.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.settings-container {
  margin-top: 20px;
}

.settings-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.settings-input {
  width: 80%;
}


.settings-label {
  display: block;
}

.settings-sublabel {
  display: block;
  margin: 0;
}

#playlist-dl-container.active {
  position: fixed;
  width: 100%;
  height: 20%;
  left: 0;
  top: 50%;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%);
  z-index: 2;
}

#playlist-dl-container {
  display: none;
}

.playlist-downloading {
  font-size: 24px;
}

.search-filters {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  flex-wrap: wrap;
  gap: 10px;
}

.search-filter {
  background-color: #1d1d1d;
  padding-inline: 10px;
  min-width: 40px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
  margin: 0;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #1d1d1d;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #eb4cc9;
}
button:active {
  border-color: #396cd8;
  background-color: #0f0f0f69;
}

input,
button {
  outline: none;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.index > h2 {
  align-self: flex-start;
}

#has-playlist {
  margin-bottom: 10px;
}

.add-playlist {
  margin-top: 10px;
  padding: 0.5rem;
}

.add-playlist > img {
  height: 20px;
  position: relative;
  top: 3px;
}

.playlist-input {
  width: 100%;
}

.add-new-playlist-container, .edit-playlist-container {
  width: 90%;
  margin: 0 auto;
}

#new-playlist {
  margin-bottom: 20px;
}

.playlist-url-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.separator-s {
  height: 10px;
}

.separator {
  height: 20px;
}

.newplaylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.add-playlist-btn {
  width: 100%;
}

.playlist-cards {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 100%;
  grid-gap: 10px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0;
}

.hidden {
  display: none !important;
}

#results-found {
  height: 24px;
}

.playlist {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-inline: 30px;
  background-color: rgb(48, 48, 48);
  border-radius: 16px;
}

.playlist-name {
  position: relative;
  top: -15%;
}

.edit-playlist {
  width: 5px;
  height: 5px;  
  position: relative;
  left: 100%;
  top: -10%;
  cursor: pointer;
}

.edit-playlist > img {
  width: 28px;
  height: 28px;
}

.channels-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  margin: 0;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 10px;
  padding-bottom: 35px;
}

.channel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 130px;
  background-color: rgb(48, 48, 48);
  border-radius: 16px;
  cursor: pointer;
}

#epg-time-increments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: fixed;
  top: 45%;
  left: 11.5rem;
}
#epg-time-increments > .epg-time-increment {
  width: 72px;
}

#epg-group {
  top: 50%;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  background-color: black;
}

.epg-channel {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ccc;
  display: flex;
  overflow: hidden;
  width: 200%;
  gap: 20px;
  border: 1px solid #2e2e2e;
  min-height: 80px;
  max-height: 80px;
  align-items: center;
}

.epg-channel > p {
  min-width: 138px;
  max-width: 138px;
}

.epg-program {
  min-width: 150px;
  border-left: 2px solid #8f8f8f;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.epg-program > p {
  margin-left: 10px;
}

#epg-current-time {
  position: absolute;
  border-left: 2px solid red; /* Set the color and thickness of the current time line */
  height: 100%; /* Extend the line to the bottom of the container */
  top: 0;
  left: 0;
}

.program {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ccc;
}

.program p {
  margin: 5px 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.channel-title {
  font-size: 100%;
  font-weight: 500;
  text-align: center;
  max-width: 100%; /* You can specify a maximum width */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 0;
  height: 80px;
}


.channel-logo {
  max-height: 50%;
  max-width: 75%;
}

.bottom-bar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
}

.bottom-bar-settings-img {
  width: 28px;
  height: 28px;
  margin: 2px;
  padding: 2px;
  background-color: #333;
  border: 1px solid #333;
  cursor: pointer;
}

.epg-image, .back-image {
  width: 28px;
  height: 28px;
}

.back-button, .epg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 3px;
  border: 1px solid #333;
  border-radius: 12px;
  cursor: pointer;
  background-color: #333;
  transition: 250ms ease-in-out;
}

.epg-text {
  padding-left: 5px;
}

.epg-button:hover, .back-button:hover {
  border: 1px solid #eb4cc9;
}